<div class="panel-group">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h2>{{ contact.name }}</h2>
        <img [src]="contact.imageUrl" alt="{{ contact.name }}" style="max-width: 70px;">
        <div class="row">
          <div class="col-xs-12">
            <!-- How to put in correct order? -->
            <button class="btn btn-danger pull-right">Delete</button>
            <button class="btn btn-success pull-right">Edit</button>
          </div>
        </div>
      </div>
      <div class="panel-body">
          <div class="row">
              <div class="col-xs-12">
                  <p>Email: {{ contact.email }}</p>
                  <p>Phone: {{ contact.phone }}</p>
              </div>
            </div>
      </div>
    </div>
  </div>
  