<div class="panel-group">
  <div class="panel panel-default">
    <div class="panel-heading">
      <div class="row">
        <div class="col-xs-12">
          <span class="pull-left">Contacts</span>
          <button class="btn btn-success pull-right">New Contact</button>
        </div>
      </div>
    </div>
    <div class="panel-body">
        <div class="row">
            <div class="col-xs-12">
                <div *ngFor="let contact of contacts">
                  <h4>{{ contact.name }}</h4>
                  <img [src]="contact.imageUrl" alt="{{ contact.name }}" style="max-width: 70px;">
                </div>
            </div>
          </div>
    </div>
  </div>
</div>
